* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  background-color: white;
}

header h2 {
  font-weight: lighter;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #a7a7a7;
}

.favorites {
  min-width: 300px;
}

.favoritesName{
  width: 90%;
  padding: 0 10px;
}

.material-symbols-outlined{
  font-size: 1.3rem;
}

.favoriteTab{
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: center;
  border-bottom: .6px dotted black;
  justify-content: space-between;
  font-size: .8rem;
  padding: 10px;
}

.favoriteTab:hover{
  background-color: #d1cfcf;
}

.favoriteTab:last-child{
  border: none;
}

.favoriteImg{
  width: 60px;
  height: 60px;
}

main{
  background-color: white;
}

#mainIMG {
  height: 70vh;
  background-image: url("https://images.pexels.com/photos/60894/blue-eyes-woman-female-makeup-60894.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: .8rem;
  padding: 5px 0;
}